@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Raleway', sans-serif;

}

.page {
  @apply max-w-screen-lg mx-auto my-24;
}

.title {
  @apply text-2xl
}


.btn {
  @apply px-5 py-2 rounded-full m-1  font-bold text-sm disabled:opacity-30 transition text-center
}

.btn.dark {
  @apply bg-slate-700 hover:bg-slate-900 text-white
}

.btn.danger {
  @apply bg-red-400 hover:bg-red-500 text-white
}

.btn.primary {
  @apply bg-slate-200 hover:bg-slate-400 text-black
}

.btn.accent {
  @apply bg-pink-500 hover:bg-pink-600 text-white
}


.btn.success {
  @apply bg-green-500 hover:bg-green-700 text-white
}

.btn.outline {
  @apply border border-white;
}

.btn.lg {
  @apply text-2xl
}


textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
  @apply text-black ;
}

textarea.error,
input[type="password"].error,
input[type="text"].error,
input[type="number"].error,
input[type="email"].error {
  @apply bg-red-300
}
